/* intuitivni box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

/* ---------------------------- */

h1 {
	color: red;
}

.nadpis {
	color: blue;
}

* {
	color: black;
}

# {
	color: pink;
}